body {
    font-size: larger;
    text-align: justify;
    width: 900px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 120px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    background-color: white;
}

img {
    margin: auto;
}

pre {
    background-color: whitesmoke;
    border: 1px solid lightgray;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

p.caption {
    padding: 10px;
    text-align: center;
}

dt {
    font-weight: bold;
}

html {
    background-color: whitesmoke;
}
